PlatformIO/esp32-cam-rtos-pio/.github/skills/dify-workflow/examples/conditional-routing.yaml
###############################################################################
# Conditional Routing — Dify DSL v0.6.0
#
# Demonstrates if-else branching with a variable-aggregator to merge results.
#
# Flow: start → classifier → [technical] → tech_llm ─┐
#                           → [general]  → gen_llm  ─┤
#                                                     └→ aggregator → end
###############################################################################
version: "0.6.0"
kind: app
app:
  name: "Conditional Routing"
  mode: workflow
  icon: "🔀"
  icon_type: emoji
  icon_background: "#FFF3E0"
  description: "Routes queries to specialized handlers based on classification"
  use_icon_as_answer_icon: false
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - id: start-to-classifier
        source: start
        sourceHandle: source
        target: classifier
        targetHandle: target
        type: custom

      - id: classifier-tech
        source: classifier
        sourceHandle: "class_1"
        target: tech_llm
        targetHandle: target
        type: custom

      - id: classifier-general
        source: classifier
        sourceHandle: "class_2"
        target: gen_llm
        targetHandle: target
        type: custom

      - id: tech-to-agg
        source: tech_llm
        sourceHandle: source
        target: aggregator
        targetHandle: target
        type: custom

      - id: gen-to-agg
        source: gen_llm
        sourceHandle: source
        target: aggregator
        targetHandle: target
        type: custom

      - id: agg-to-end
        source: aggregator
        sourceHandle: source
        target: output
        targetHandle: target
        type: custom

    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 282 }
        data:
          type: start
          title: "Start"
          variables:
            - variable: query
              label: "Query"
              type: text-input
              required: true
              max_length: null
              options: []

      - id: classifier
        type: custom
        position: { x: 380, y: 282 }
        data:
          type: question-classifier
          title: "Route Query"
          query_variable_selector:
            - start
            - query
          model:
            provider: openai
            name: gpt-4
            mode: chat
            completion_params:
              temperature: 0.3
          classes:
            - id: "class_1"
              name: "Technical / Programming"
            - id: "class_2"
              name: "General Knowledge"
          instruction: >-
            Classify the query: if it's about programming, code, APIs,
            or technical systems, classify as Technical. Otherwise General.
          vision:
            enabled: false

      - id: tech_llm
        type: custom
        position: { x: 680, y: 150 }
        data:
          type: llm
          title: "Technical Expert"
          model:
            provider: openai
            name: gpt-4
            mode: chat
            completion_params:
              temperature: 0.3
              max_tokens: 4096
          prompt_template:
            - role: system
              text: >-
                You are an expert software engineer. Provide precise,
                code-oriented answers with examples when relevant.
            - role: user
              text: "{{#start.query#}}"
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false

      - id: gen_llm
        type: custom
        position: { x: 680, y: 420 }
        data:
          type: llm
          title: "General Assistant"
          model:
            provider: openai
            name: gpt-4
            mode: chat
            completion_params:
              temperature: 0.7
              max_tokens: 2048
          prompt_template:
            - role: system
              text: "You are a helpful general-purpose assistant."
            - role: user
              text: "{{#start.query#}}"
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false

      - id: aggregator
        type: custom
        position: { x: 980, y: 282 }
        data:
          type: variable-aggregator
          title: "Merge Results"
          output_type: string
          variables:
            - - tech_llm
              - text
            - - gen_llm
              - text

      - id: output
        type: custom
        position: { x: 1280, y: 282 }
        data:
          type: end
          title: "Output"
          outputs:
            - variable: answer
              value_type: string
              value_selector:
                - aggregator
                - output
    viewport:
      x: 0
      y: 0
      zoom: 0.8
