PlatformIO/esp32-cam-rtos-pio/.github/skills/dify-workflow/examples/iteration-pipeline.yaml
###############################################################################
# Iteration Pipeline — Dify DSL v0.6.0
#
# Demonstrates the iteration pattern: split input into items, process each
# with an LLM, collect results.
#
# Flow: start → code_split → iteration[llm_process] → code_join → end
###############################################################################
version: "0.6.0"
kind: app
app:
  name: "Iteration Pipeline"
  mode: workflow
  icon: "🔄"
  icon_type: emoji
  icon_background: "#F3E5F5"
  description: "Processes items in a list individually via LLM and collects results"
  use_icon_as_answer_icon: false
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      # Outer edges
      - id: start-to-split
        source: start
        sourceHandle: source
        target: code_split
        targetHandle: target
        type: custom

      - id: split-to-iter
        source: code_split
        sourceHandle: source
        target: iter
        targetHandle: target
        type: custom

      - id: iter-to-join
        source: iter
        sourceHandle: source
        target: code_join
        targetHandle: target
        type: custom

      - id: join-to-end
        source: code_join
        sourceHandle: source
        target: output
        targetHandle: target
        type: custom

      # Inner edges (inside iteration)
      - id: iter-start-to-llm
        source: iter_start
        sourceHandle: source
        target: llm_process
        targetHandle: target
        type: custom
        data:
          isInIteration: true
          iteration_id: iter

    nodes:
      # --- Outer nodes ---
      - id: start
        type: custom
        position: { x: 80, y: 282 }
        data:
          type: start
          title: "Start"
          variables:
            - variable: items
              label: "Items (one per line)"
              type: paragraph
              required: true
              max_length: 10000
              options: []

      - id: code_split
        type: custom
        position: { x: 380, y: 282 }
        data:
          type: code
          title: "Split into Array"
          code_language: python3
          code: |
            def main(text: str) -> dict:
                items = [line.strip() for line in text.strip().split("\n") if line.strip()]
                return {"items": items}
          variables:
            - variable: text
              value_selector:
                - start
                - items
          outputs:
            items:
              type: array[string]

      # --- Iteration container ---
      - id: iter
        type: custom
        position: { x: 680, y: 200 }
        data:
          type: iteration
          title: "Process Each Item"
          start_node_id: iter_start
          iterator_selector:
            - code_split
            - items
          output_selector:
            - llm_process
            - text
          is_parallel: true
          parallel_nums: 5
          error_handle_mode: continue-on-error
          height: 200
          width: 400

      # --- Iteration start (child) ---
      - id: iter_start
        type: custom-iteration-start
        parentId: iter
        draggable: false
        selectable: false
        zIndex: 1002
        position: { x: 40, y: 50 }
        data:
          type: iteration-start
          title: ""
          isInIteration: true

      # --- Inner LLM node ---
      - id: llm_process
        type: custom
        parentId: iter
        zIndex: 1002
        position: { x: 240, y: 50 }
        data:
          type: llm
          title: "Analyze Item"
          isInIteration: true
          iteration_id: iter
          model:
            provider: openai
            name: gpt-4
            mode: chat
            completion_params:
              temperature: 0.5
              max_tokens: 512
          prompt_template:
            - role: system
              text: "Provide a one-paragraph analysis of the given item."
            - role: user
              text: "Analyze: {{#iter.item#}}"
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false

      # --- Join results ---
      - id: code_join
        type: custom
        position: { x: 1100, y: 282 }
        data:
          type: code
          title: "Join Results"
          code_language: python3
          code: |
            def main(results: list) -> dict:
                numbered = [f"{i+1}. {r}" for i, r in enumerate(results)]
                return {"combined": "\n\n".join(numbered)}
          variables:
            - variable: results
              value_selector:
                - iter
                - output
          outputs:
            combined:
              type: string

      # --- Output ---
      - id: output
        type: custom
        position: { x: 1400, y: 282 }
        data:
          type: end
          title: "Output"
          outputs:
            - variable: analysis
              value_type: string
              value_selector:
                - code_join
                - combined
    viewport:
      x: 0
      y: 0
      zoom: 0.7
