PlatformIO/esp32-cam-rtos-pio/.github/skills/dify-workflow/examples/minimal-echo.yaml
###############################################################################
# Minimal Echo Workflow — Dify DSL v0.6.0
#
# The simplest possible workflow: passes user input straight to output.
# Use as a skeleton to build upon.
###############################################################################
version: "0.6.0"
kind: app
app:
  name: "Minimal Echo"
  mode: workflow
  icon: "📋"
  icon_type: emoji
  icon_background: "#E8F5E9"
  description: "Echoes the user query back as output"
  use_icon_as_answer_icon: false
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - id: start-to-end
        source: start
        sourceHandle: source
        target: output
        targetHandle: target
        type: custom
    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 282 }
        data:
          type: start
          title: "Start"
          variables:
            - variable: query
              label: "Query"
              type: text-input
              required: true
              max_length: null
              options: []

      - id: output
        type: custom
        position: { x: 380, y: 282 }
        data:
          type: end
          title: "Output"
          outputs:
            - variable: result
              value_type: string
              value_selector:
                - start
                - query
    viewport:
      x: 0
      y: 0
      zoom: 1
