PlatformIO/esp32-cam-rtos-pio/.github/skills/dify-workflow/examples/rag-pipeline.yaml
###############################################################################
# RAG Pipeline — Dify DSL v0.6.0
#
# Retrieval-Augmented Generation: fetch context from a knowledge base,
# inject into LLM prompt, and generate an informed answer.
#
# Flow: start → knowledge_retrieval → llm (context-injected) → end
#
# NOTE: Replace "dataset-uuid-placeholder" with actual dataset IDs from
#       your Dify instance after import.
###############################################################################
version: "0.6.0"
kind: app
app:
  name: "RAG Pipeline"
  mode: workflow
  icon: "📚"
  icon_type: emoji
  icon_background: "#FFF8E1"
  description: "Knowledge-augmented LLM answers using retrieval from datasets"
  use_icon_as_answer_icon: false
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - id: start-to-retrieval
        source: start
        sourceHandle: source
        target: knowledge
        targetHandle: target
        type: custom

      - id: retrieval-to-llm
        source: knowledge
        sourceHandle: source
        target: llm
        targetHandle: target
        type: custom

      - id: llm-to-end
        source: llm
        sourceHandle: source
        target: output
        targetHandle: target
        type: custom

    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 282 }
        data:
          type: start
          title: "Start"
          variables:
            - variable: question
              label: "Question"
              type: text-input
              required: true
              max_length: 1000
              options: []

      - id: knowledge
        type: custom
        position: { x: 380, y: 282 }
        data:
          type: knowledge-retrieval
          title: "Knowledge Retrieval"
          query_variable_selector:
            - start
            - question
          dataset_ids:
            - "dataset-uuid-placeholder"
          retrieval_mode: multiple
          multiple_retrieval_config:
            top_k: 5
            score_threshold: 0.5
            reranking_mode: reranking_model
            reranking_enable: false

      - id: llm
        type: custom
        position: { x: 680, y: 282 }
        data:
          type: llm
          title: "Answer with Context"
          model:
            provider: openai
            name: gpt-4
            mode: chat
            completion_params:
              temperature: 0.3
              max_tokens: 2048
          prompt_template:
            - role: system
              text: >-
                You are a knowledgeable assistant. Answer questions based on the
                provided context. If the context doesn't contain relevant
                information, state that clearly. Always cite which part of the
                context supports your answer.
            - role: user
              text: "{{#start.question#}}"
          context:
            enabled: true
            variable_selector:
              - knowledge
              - result
          vision:
            enabled: false

      - id: output
        type: custom
        position: { x: 980, y: 282 }
        data:
          type: end
          title: "Output"
          outputs:
            - variable: answer
              value_type: string
              value_selector:
                - llm
                - text
    viewport:
      x: 0
      y: 0
      zoom: 0.8
